/***** FONTS *****/
@font-face {
  font-family: "Candara";
  font-display: swap;
  src: url("../fonts/Candara-Regular.woff2") format("woff2"), url("../fonts/Candara-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Candara";
  font-display: swap;
  src: url("../fonts/Candara-Italic.woff2") format("woff2"), url("../fonts/Candara-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Candara";
  font-display: swap;
  src: url("../fonts/Candara-Bold.woff2") format("woff2"), url("../fonts/Candara-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Candara";
  font-display: swap;
  src: url("../fonts/Candara-BoldItalic.woff2") format("woff2"), url("../fonts/Candara-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("../fonts/Comfortaa-Light.woff2") format("woff2"), url("../fonts/Comfortaa-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("../fonts/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/***** GENERAL ELEMENTS *****/
/***** BLOCKS GLOBAL *****/
/*-----generals-----*/
html {
  font-size: 1rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Candara", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #4f3736;
  background: #fff;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: block;
}

section {
  padding: 84px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1023px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.md-hidden {
  display: none;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0.375rem;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  width: 0.375rem;
  height: 18.75rem;
  border-radius: 0.9375rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00569f;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.3s;
}

*:hover {
  transition: 0.3s;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: inherit;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

figure {
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg,
svg:hover,
path,
polygon {
  transition: 0.05s;
}

svg:not(:root) {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

mark {
  background: #ff0;
  color: #000;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #f2f2f2;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
  outline-offset: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 0.125rem;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*-----buttons----*/
.button.btn-c {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope-Medium";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  width: 13.75rem;
  height: 3.4375rem;
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  border: 1px #ffffff solid;
}
.button.btn-c:hover {
  background: #00569F;
  border-color: #00569F;
}

/*-----title----*/
.section-title {
  font-size: 1.5rem;
  letter-spacing: 0.01em;
}

.page-title {
  position: relative;
  font-size: 41px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .page-title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .page-title {
    font-size: 26px;
  }
}
.page-title span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
@media (max-width: 991px) {
  .page-title span {
    margin-right: 20px;
  }
}
.page-title::after {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #f1955a;
  margin-right: -100%;
}

/***** COMPONENTS GLOBAL *****/
/*----header-----*/
header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #f6e8de;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 167px;
  background-image: url("../img/header-decor-left.png");
  z-index: -1;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 614px;
  height: 183px;
  background-image: url("../img/header-decor-right.png");
  z-index: -1;
}

.header {
  position: relative;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__info {
  display: flex;
  margin-bottom: 40px;
  margin-left: 60px;
}
.header__info-group:not(:last-child) {
  margin-right: 70px;
}
.header__info-item {
  display: flex;
  align-items: center;
}
.header__info-item img {
  margin-right: 12px;
}
.header__info-item:not(:last-child) {
  margin-bottom: 20px;
}
.header__info-item .phone {
  font-size: 27px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #4f3736;
}
.header__info-item .time {
  font-family: "Comfortaa", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.header__info-item .callback {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #4ca2c7;
}
.header__info-item .callback::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -2px;
  border-bottom: 1px dashed #4ca2c7;
}

.nav {
  font-family: "Comfortaa", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav li {
  position: relative;
  transition: all 0.3s ease-in;
}
.nav li:not(:last-child) {
  margin-right: 30px;
}
.nav li::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 63px;
  height: 13px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.3s;
}
.nav li:hover::after {
  background-image: url("../img/menu-current.svg");
  opacity: 1;
}
.nav a {
  color: #4f3736;
}

.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart__icon {
  margin-right: 10px;
  width: 88px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cart__icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 88px;
  height: 77px;
  background-image: url("../img/cart-bg.png");
  background-image: no-repeat;
  z-index: -1;
}
.cart__icon .number {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  padding: 4px 7px;
  min-width: 28px;
  height: 28px;
  background-color: #4f3736;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Comfortaa", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}
.cart .amount {
  font-family: "Comfortaa", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #4f3736;
}

/*-----footer-----*/
footer {
  color: #fff;
  background: #1B1B1B;
  position: relative;
  z-index: 888;
  font-family: "HelveticaNeueCyr-Regular";
  margin-top: 3.125rem;
}
footer::before {
  content: "";
  position: absolute;
  background: url(../img/footer/4.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  top: -1.25rem;
  left: 0;
  right: 0;
  height: 3.125rem;
}
footer .logo {
  width: 13.75rem;
}
footer .logo-text {
  color: #AAAAAA;
}
footer .logo-text {
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  padding: 5rem 0 1.875rem 0;
}
footer .foot-icons {
  display: flex;
  justify-content: center;
}
footer .nav {
  width: 33.75rem;
  margin-top: 1.4375rem;
}
footer .nav ul {
  margin-top: 0;
  padding-left: 0;
}
footer .foot-icons {
  margin-top: 4.75rem;
  cursor: pointer;
}
footer .foot-icons img {
  padding-left: 2.8125rem;
}
footer .info-top {
  justify-content: flex-end;
  width: 17.25rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
}
footer .info-top .bottom {
  display: flex;
  margin-top: 3.125rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: #FFFFFF;
}
footer .info-top .bottom .left {
  padding-right: 0.625rem;
}
footer .info-top .bottom .left::after {
  content: "";
  border: 1px solid #505050;
  margin-left: 0.625rem;
  transform: rotate(90deg);
}
footer .info-top .t-one {
  margin-left: 0.9375rem;
  margin-right: 0px;
}
footer .info-top .t-two:nth-child(3) {
  margin: 0.625rem 0 0.625rem 0;
  color: #EBBA52;
}
footer .info-top .t-two:nth-child(3):after {
  display: none;
  content: "";
  margin: 0 0.625rem 0 0.625rem;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background: #EBBA52;
}

/*-----breadcrumbs-----*/
.breadcrumbs {
  font-family: "Comfortaa", sans-serif;
  padding: 40px 0 28px 0;
  font-size: 1rem;
  color: #4f3736;
  font-weight: 700;
}
@media (max-width: 991px) {
  .breadcrumbs {
    overflow-x: auto;
  }
}
@media (max-width: 640px) {
  .breadcrumbs {
    font-size: 0.75rem;
  }
}
.breadcrumbs nav {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .breadcrumbs nav {
    flex-wrap: nowrap;
    width: auto !important;
    max-width: 187.5rem;
  }
}
.breadcrumbs span {
  color: #68a1cf;
}
@media (max-width: 991px) {
  .breadcrumbs span {
    display: inline-flex;
    white-space: nowrap;
    padding-right: 2.5rem;
  }
}
.breadcrumbs a {
  font-family: "Comfortaa", sans-serif;
  color: #4f3736;
  display: inline-flex;
  align-items: center;
}
@media (max-width: 991px) {
  .breadcrumbs a {
    display: inline-flex;
    white-space: nowrap;
  }
}
.breadcrumbs a:hover {
  color: #68a1cf;
  opacity: 1;
}
.breadcrumbs a:after {
  content: ">";
  font-family: "Comfortaa", sans-serif;
  display: inline;
  font-size: 1rem;
  margin: 0 0.3rem;
}

.single-styles .breadcrumbs .container {
  justify-content: center;
}

/*-----pagination-----*/
.pagination {
  margin: 1.25rem 0;
}

.screen-reader-text {
  display: none;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
@media (max-width: 414px) {
  .nav-links {
    margin: 1.25rem -0.625rem;
  }
}
.nav-links .page-numbers {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #f8f8f8;
  color: #383838;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0.3125rem;
}
@media (max-width: 414px) {
  .nav-links .page-numbers {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.3125rem;
  }
}
@media (max-width: 22.5rem) {
  .nav-links .page-numbers:nth-child(6) {
    display: none;
  }
}
.nav-links .page-numbers .disabled {
  opacity: 0;
}
.nav-links .current {
  background-color: #00569F;
  color: #fff;
}
.nav-links a.page-numbers:hover {
  background-color: #59A610;
  color: #fff;
}
.nav-links .dots {
  width: 1.4286rem;
  border: none;
  background-color: transparent;
}
.nav-links .prev,
.nav-links .next {
  background-color: transparent;
}
@media (max-width: 414px) {
  .nav-links .prev,
.nav-links .next {
    width: 1.5625rem;
    height: 1.5625rem;
    margin: 0.25rem;
    padding: 0;
  }
}
.nav-links .prev:after,
.nav-links .next:after {
  content: "";
  border-top: 0.125rem solid #383838;
  border-left: 0.125rem solid #383838;
  /*margin: 0.625rem;*/
  width: 0.5rem;
  height: 0.5rem;
}
.nav-links .prev:hover:after,
.nav-links .next:hover:after {
  border-color: #383838;
}
.nav-links .prev {
  left: 0;
  transform: rotate(-45deg);
}
.nav-links .next {
  right: 0;
  transform: rotate(135deg);
}

.owl-carousel .owl-nav {
  display: inline-flex;
}
.owl-carousel .owl-nav .owl-prev::after,
.owl-carousel .owl-nav .owl-next::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-top: 0.1875rem solid #1e1e1e;
  border-right: 0.1875rem solid #1e1e1e;
  z-index: 1;
}
.owl-carousel .owl-nav .owl-prev:hover::after,
.owl-carousel .owl-nav .owl-next:hover::after {
  border-color: #00569F;
}
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -1.5625rem;
  top: calc(50% - 0.625rem);
  transform: rotate(-135deg);
}
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -1.5625rem;
  top: calc(50% - 0.625rem);
  transform: rotate(45deg);
}
.owl-carousel .owl-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 1.375rem;
  position: absolute;
}
.owl-carousel .owl-dots .owl-dot {
  width: 1.5rem;
  height: 0.25rem;
  background: rgba(255, 255, 255, 0.4);
  margin: 0 0.3125rem;
  border-radius: 0.25rem;
}
.owl-carousel .owl-dots .owl-dot:hover {
  background-color: #ffffff;
}
.owl-carousel .owl-dots .owl-dot.active {
  width: 3.875rem;
  background: #ffffff;
}

article {
  padding: 1.5625rem 0;
}
article h2,
article h3,
article h4,
article h5 {
  margin: 0 0 1em;
  width: 100%;
  letter-spacing: 0.01em;
}
article h2 {
  font-size: 1.25rem;
}
article h3 {
  font-size: 1.125rem;
  margin: 0 0 1.5em;
}
article h4 {
  font-size: 1.125rem;
}
article h5 {
  font-size: 1rem;
}
article p {
  margin: 1em 0;
  width: 100%;
  text-align: justify;
}
article p:first-child {
  margin-top: 0;
}
article b {
  font-family: "Manrope-Bold";
}
article a {
  color: inherit;
  text-decoration: none;
  color: #00569F;
}
article a:hover {
  text-decoration: underline;
}
article img {
  margin: 0;
}
article ul {
  list-style: none;
  padding: 0;
  margin: 1.5em 0;
  width: 100%;
}
article ul li {
  padding-left: 0.9375rem;
  margin: 0.5em 0;
  position: relative;
}
article ul li:before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  background: #00569F;
  border-radius: 100%;
  position: absolute;
  left: 0px;
  top: 0.5rem;
}
article ol {
  padding: 0 0 0 1rem;
  margin: 1.5em 0;
  width: 100%;
}
article ol li {
  counter-increment: listCounter;
  margin: 0.5em 0;
  padding-left: 0.3125rem;
}
article ol li::marker {
  color: #00569F;
  font-size: 0.875rem;
  margin-top: 0.3125rem;
}
@media (max-width: 575.98px) {
  article .table-wrap {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 0.9375rem;
  }
}
article table {
  width: 100%;
  border-collapse: collapse;
}
@media (max-width: 575.98px) {
  article table {
    width: 35.625rem;
  }
}
article table td {
  color: #444;
  background-color: #fff;
  border: 1px solid #1c1c1c;
}
article table td,
article table th {
  box-sizing: border-box;
  padding: 0.3125rem 1.25rem;
  height: 3.8125rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  text-align: left;
}
@media (max-width: 767.98px) {
  article table td,
article table th {
    padding: 1.125rem 1.5625rem;
    font-size: 0.875rem;
  }
}
@media (max-width: 575.98px) {
  article table td,
article table th {
    padding: 0.3125rem 0.9375rem;
    font-size: 0.875rem;
  }
}
article table th {
  background: rgba(179, 179, 179, 0.15);
  border: 1px solid #1c1c1c;
  font-family: "Manrope-Bold";
}
@media (max-width: 575.98px) {
  article table th {
    font-size: 0.75rem;
  }
}
article.news {
  margin-bottom: 3.125rem;
  color: #010827;
}
article.news p {
  font-size: 1rem;
  line-height: 2.3;
}

/***** SECTIONS GLOBAL (Widgets) *****/
.system {
  font-style: normal;
  font-weight: 400;
  font-size: 10.1875rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
}
.system .sys-global {
  display: flex;
  flex-wrap: wrap;
}
.system .sy-item {
  margin-bottom: 3.875rem;
  position: relative;
  background-image: url(../img/system/1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  border-radius: 0.4375rem;
  width: calc(25% - 0.75rem);
  height: 19.9375rem;
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}
.system .sy-item .sy-inf {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: linear-gradient(64.24deg, #005B9A 0.07%, rgba(29, 124, 190, 0.12) 94.3%);
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 1.125rem;
  min-width: 5.6875rem;
}
.system .sy-item .sy-text {
  max-width: 13.875rem;
}

/***** Page (article) *****/
.dostavka {
  position: relative;
  padding-top: 0;
  padding-bottom: 130px;
}
.dostavka::before {
  position: absolute;
  content: "";
  left: 0;
  top: 215px;
  width: 239px;
  height: 133px;
  background-image: url("../img/dostavka/left.png");
  background-repeat: no-repeat;
  z-index: -1;
}
.dostavka::after {
  position: absolute;
  content: "";
  right: 0;
  top: 55px;
  width: 195px;
  height: 461px;
  background-image: url("../img/dostavka/right.png");
  background-repeat: no-repeat;
  z-index: -1;
}
@media (max-width: 1350px) {
  .dostavka::before, .dostavka::after {
    display: none;
  }
}
.dostavka h2 {
  font-size: 33px;
  font-weight: 700;
  color: #68a1cf;
  margin-bottom: 1rem;
}
@media (max-width: 991px) {
  .dostavka h2 {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .dostavka h2 {
    font-size: 20px;
  }
}
.dostavka p {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #897877;
}
.dostavka p:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 576px) {
  .dostavka p {
    font-size: 15px;
  }
}

.magaziny {
  position: relative;
  padding-top: 50px;
  padding-bottom: 45px;
}
.magaziny::before {
  position: absolute;
  content: "";
  left: 0;
  top: 145px;
  width: 239px;
  height: 534px;
  background-image: url("../img/magaziny/left.png");
  background-repeat: no-repeat;
  z-index: -1;
}
.magaziny::after {
  position: absolute;
  content: "";
  right: 0;
  top: 120px;
  width: 195px;
  height: 461px;
  background-image: url("../img/dostavka/right.png");
  background-repeat: no-repeat;
  z-index: -1;
}
@media (max-width: 1350px) {
  .magaziny::before, .magaziny::after {
    display: none;
  }
}
.magaziny h1 {
  font-size: 41px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 36px;
}
@media (max-width: 991px) {
  .magaziny h1 {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .magaziny h1 {
    font-size: 26px;
  }
}
.magaziny__table {
  position: relative;
  width: 100%;
}
.magaziny__table::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: #ffffff;
  z-index: 100;
}
.magaziny__head {
  background-color: #f29f6b;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.magaziny__head-item {
  padding: 23px 40px 23px 100px;
}
.magaziny__head-title {
  display: flex;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.magaziny__head-title img {
  height: 32px;
  margin-right: 20px;
}
.magaziny__row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f6e8de;
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.magaziny__row::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.magaziny__col {
  padding: 50px 50px 50px 100px;
}
.magaziny__time-row {
  display: flex;
}
.magaziny__time-row span {
  display: block;
}
.magaziny__time-row .day {
  margin-right: 20px;
}
@media (max-width: 1100px) {
  .magaziny__head-item {
    padding: 16px 16px 16px 24px;
  }
  .magaziny__head-title {
    font-size: 20px;
  }
  .magaziny__head-title img {
    height: 28px;
    margin-right: 15px;
  }
  .magaziny__row {
    font-size: 18px;
  }
  .magaziny__col {
    padding: 16px 16px 16px 24px;
  }
  .magaziny__time-row .day {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .magaziny__row {
    font-size: 16px;
  }
  .magaziny__head-title {
    font-size: 18px;
  }
  .magaziny__head-title img {
    height: 20px;
    margin-right: 10px;
  }
  .magaziny .magaziny-overflow {
    padding-right: 0;
    overflow: auto;
    overflow-x: scroll;
  }
  .magaziny .magaziny__table {
    margin-left: auto;
    margin-right: auto;
    width: 600px !important;
  }
}
@media (max-width: 400px) {
  .magaziny .magaziny__table {
    width: 520px !important;
  }
}
.magaziny-map {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.magaziny-map .pin {
  position: absolute;
  left: 50%;
  top: 130px;
}
.magaziny-map .map {
  object-fit: cover;
  min-height: 450px;
}
@media (max-width: 576px) {
  .magaziny-map .map {
    min-height: 350px;
  }
}